{% extends "master.html" %}

{% block body%}<body id="home-page">{% endblock %}

{% block content %}
    <a href="https://github.com/profburial/ufoogle"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    <div id="search" class="row">
        <div class="col-xs-12">
            <h1 class="text-center home_header"><i class="ion-planet"></i> UFOOGLE</h1>
            <form method="GET" action="/results">
            <input type="text" name="q" class="form-control home_search" id="d" value="" placeholder="Search New York, Abduction, Cigar Shaped..." required>
            </form>
        </div>
        <div class="col-xs-12">
            <p class="search_tips"><strong>PRO TIP</strong>: You can perform more specific queries by using column operators (ie 'Springfield, MO :location:', 'Cigar :shape:')</p>
            <p class="search_tips">
                You can perform complex queries like 'Springfield, MO :location: ^ Cigar :shape:' for very specific results.
            <p>
        </div>
    </div>
{% endblock %}
    
{% block scripts %}

{% endblock %}